# Configuración de la Base de Datos (PostgreSQL local)
DATABASE_URL=postgresql://postgres:140789@localhost:5432/multitenant_saas_dev
# Configuración de Seguridad JWT
SECRET_KEY=una_clave_secreta_y_larga_que_nadie_sepa